<h2>Profe las img las perdi donde cambie de pc, pero agregue estas</h2>


<div class="row">
<div class="card" style="width: 18rem;">
  <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.es%2Ffotos-premium%2Figuana-roca-cubana_32415155.htm&psig=AOvVaw2QuEoH_TE7TckpVY7oh44B&ust=1684425451204000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCJDrwvfb_P4CFQAAAAAdAAAAABAE" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Ver mas...</a>
  </div>
</div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Ver mas...</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Ver mas...</a>
    </div>
  </div>
</div>
<p>Find me in app/views/home/projects.html.erb</p>
