

<div class="container">

  <h2 class="text-center">Proyectos realizados</h2>

  <div class="row">

    <div class="card" style="width: 18rem;">
      <%= image_tag("iguana-1.jpg") %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary boton">Ver mas...</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <%= image_tag("iguana-4.jpg") %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary boton">Ver mas...</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <%= image_tag("iguana-3.jpg") %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary boton">Ver mas...</a>
      </div>
    </div>
  </div>
</div>
</div>
<p>Find me in app/views/home/projects.html.erb</p>
